@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body{
    height: 140vh;
    width: 100%;
    background-image: linear-gradient(135deg, #009DF6,#252A6F);
}


/* ---------------header--------------- */
header{
    position: relative;
    top: -3vh;
    display: inline-flex;
    align-items: center;
    width: 100%;   
}

.pageName{
    color: #252A6F;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-decoration: none;
    margin-right: 1em;
}

section nav{
    align-items: center;
    gap:2em;
}

section nav a{
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

section nav a:hover{
    color: #333;
    text-decoration: none;
}

/* -----------end of header------------- */


/* ----------search bar------------- */
/* ----------dont disturb----------- */
.box{
    max-width: 400px;
    width: 100%;
}

.box .search-box{
    position: relative;
    height: 50px; /* 50px */
    max-width: 50px;
    margin: 1.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    transition: all 0.3s ease;
}

#check:checked ~ .search-box{
    max-width: 380px;
}

.search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: #fff;
    outline: none;
    border: none;
    padding-left: 20px;
    padding-right: 40px;
    font-size: 18px;
}

.search-box .icon{
    position: absolute;
    right: -5px;
    top: 0 ;
    width: 50px;
    background: #FFF;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: #009DF6;
    font-size: 20px;
    border-radius: 25px;
}

#check:checked ~ .search-box .icon{
    background: #009DF6;
    color: #FFF;
    width: 55px;
    border-radius: 0 25px 25px 0;
}

#check{
    display: none;
}

/* -----------end of searchbar------------- */


.loginButton{
    position: absolute;
    right: 30px;
    background-color: transparent;
    border: none;
    color:white;
    font-size: medium;
}

.signupButton{
    position: absolute;
    right: 100px;
    background-color: transparent;
    border: none;
    color:white;
    font-size: medium;
}

.loginButton:hover, .signupButton:hover{
    color:#333;
}

/* ---------------body------------- */

main{
    height: 100vh;
}




/* ----------end of body----------- */


/* -----------footer------------------- */

footer{
    position: absolute;
    bottom: -40vh;
}






















/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid #000000;
}

body{
    font-family: 'Poppins';
    background: linear-gradient(135deg,#009DF6,#252A6F);
    width: 100%;
    height: 100%;
}

.headerNavLinksBar{
    column-count: 2;
    column-gap: normal;
    position: relative;
}

.nowrap{
    white-space: nowrap;
}

.headerSearchBarBox{
    width: 45px;
    height: 45px;
    background-color: transparent;
    transition: 0.2s;
}

.headerSearchBarBox:hover{
    width: 250px;
    background-color: white;
    border-radius: 50px;
}

.headerSearchBar{
    width: 45px;
    height: 45px;
    border: none;
    color: white;
    background-color: transparent;
    padding-left: 50px;
}

.headerSearchBar:hover{
    width: 250px;
    background-color: white;
    border-radius: 50px;
    color: #333;
}

.headerSearchBar:active{
    border: none;
}

.headerSearchBar:focus{
    outline: none;
}

.icon{
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background-color: white;
    position: relative;
    top: -40px;
}

.fa{
    color:#333;
    position: relative;
    left: 9px;
    top:4px;
}

.siteNameUni{
    display: none;
}

.loginButton, .signupButton{
    position: absolute;
    right: 20px;
    margin: 10px;
    color: whitesmoke;
    background-color: transparent;
    border: none;
    font-family: "Poppins";
}

.loginButton{
    position: absolute;
    right: 80px ;
}

@media only screen and (min-width: 600px) {
    .siteNameUni, header nav{
        display:unset;
    }

    .loginButton, .signupButton{
        font-size: large;
    }

    .loginButton{
        right: 100px;
    }
}

main{
    min-height: 100vh;
} */